@{
    ViewData["heading"] = "About";
}
<div class="about-image">
    <img src="images/me.png" />
    <span class="about-image-text">at Crater Lake, Oregon, USA (not anymore :D)</span> 
</div>

<div class="about-content">
    <table class="about-table">
        <tr class="about-table-content-tr">
            <td>Name</td>
            <td>Oliver Layer</td>
        </tr>
        <tr class="about-table-content-tr">
            <td>Mail</td>
            <td><a href="mailto:oliver@layer.site">oliver@layer.site</a></td>
        </tr>
        <tr class="about-table-content-tr">
            <td>Place of residence</td>
            <td>Munich, Bavaria, Germany</td>
        </tr>
        <tr class="about-table-content-tr">
            <td>Facebook</td>
            <td><a href="https://www.facebook.com/oliver.layer"><i class="fa fa-facebook-square fa-1x"></i></a></td>
        </tr>    
        <tr class="about-table-content-tr">
            <td>GitHub</td>
            <td><a href="https://github.com/OliLay/"><i class="fa fa-github-square fa-1x"></i></a></td>
        </tr>    
    </table>
</div>


